[client]
port                             = 3306
socket                           = /var/run/mysqld/mysqld.sock
default-character-set            = utf8mb4

[mysqld]
user                             = mysql
server-id                        = 1
default-storage-engine           = InnoDB
character-set-server             = utf8mb4
collation-server                 = utf8mb4_unicode_ci
socket                           = /var/run/mysqld/mysqld.sock
pid-file                         = /var/run/mysqld/mysql.pid
back_log                         = 600

datadir                          = /var/lib/mysql/
tmpdir				             = /tmp


# CACHES AND LIMITS #
tmp-table-size                   = 32M
max-heap-table-size              = 32M
query-cache-type                 = 0
query-cache-size                 = 0
max-connections                  = 500
thread-cache-size                = 50
open-files-limit                 = 65535
table-definition-cache           = 1024
table-open-cache                 = 128

# BINARY LOGGING #
log-bin                          = /var/lib/mysql/mysql-bin
expire-logs-days                 = 14
sync-binlog                      = 1

# MyISAM #
key_buffer_size			         = 256M
read_buffer_size		         = 2M
read_rnd_buffer_size	         = 16M
bulk_insert_buffer_size	         = 64M
myisam_sort_buffer_size          = 128M
myisam_max_sort_file_size        = 10G
myisam_repair_threads	         = 1
myisam_recover_options

# INNODB #
innodb-flush-method              = O_DSYNC
innodb-log-files-in-group        = 2
innodb-log-file-size             = 64M
innodb-flush-log-at-trx-commit   = 1
innodb-file-per-table            = 1
innodb-buffer-pool-size          = 160M

[mysql]
no-auto-rehash
default-character-set            = utf8mb4

[mysqldump]
quick
max_allowed_packet               = 16M
log-error	                     = /var/log/mysql/error.log

# Recommended in standard MySQL setup
sql_mode=NO_ENGINE_SUBSTITUTION,STRICT_TRANS_TABLES


[mysqlhotcopy]
interactive-timeout


# * IMPORTANT: Additional settings that can override those from this file!
#   The files must end with '.cnf', otherwise they'll be ignored.
#
#!includedir /etc/mysql/conf.d/